<?xml version="1.0" encoding="utf-8"?>
<!--
  NuGet configuration - Stores packages on D: drive
-->
<configuration>
  <config>
    <!-- NuGet packages stored on D: drive to save C: space -->
    <add key="globalPackagesFolder" value="D:\mods\.nuget\packages" />
  </config>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- BepInEx packages -->
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
</configuration>

